/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  background-color: #fbf5e6;
  font-family: "Satoshi";
  font-weight: normal;
  padding: 2rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clash Display";
  font-weight: bold;
}

h1 {
  color: #5c8df6;
}

h2 {
  margin-top: 6rem;
}

h3 {
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  font-family: "Satoshi";
  font-weight: lighter;
  margin-top: 0;
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

code {
  background-color: #5c8df680; /* '80' at the end means 50% opacity */
  color: #2036a8;
  padding: 0.5rem;
  display: block;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the input buttons */
.button-input {
  display: inline-block;
  padding: 0.5rem;

  color: white;
  background-color: #ff7a00;

  text-decoration: none;
  font-family: "Clash Display";

  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* horizontal offset | vertical offset | blur radius | color */

  transition-duration: 0.5s;
}

.button-input:hover,
.button-input:focus,
.submit-button:hover,
.submit-button:focus,
.reset-button:hover,
.reset-button:focus {
  color: white;
  /* background-color: #FFD21F; */
  scale: 1.05;
}

.button-input:active,
.submit-button:active,
.reset-button:active,
.button-nav:active {
  filter: brightness(0.75);
}

/* Styling for the navigation buttons */
.button-nav {
  display: inline-block;
  padding: 0.5rem;

  color: white;
  background-color: #5c8df6;

  text-decoration: none;
  font-family: "Clash Display";

  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* horizontal offset | vertical offset | blur radius | color */

  transition-duration: 0.5s;
}

.button-nav:hover,
.button-nav:focus {
  /* background-color: #FFD21F; */
  scale: 1.05;
}

.button-nav-alt:hover,
.button-nav-alt:focus {
  background-color: #2036a8;
  scale: 1.05;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition-duration: 0.25s;
}

/* Text Inputs */
.form-input {
  font-family: "Satoshi";
  background-color: #5c8df6;
  border: 2px solid #2036a8;
  margin-top: 0.5rem;
  transition-duration: 0.5s;
  /* height: 5rem;
  width: 50rem; */
}

/* 
  TEXT ELEMENTS -------------------
*/

/* 
  COMBINED ELEMENTS -------------------
*/

.product-name {
  color: #ff7a00;
}

.product-list-flexbox {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product-list-description {
  max-width: 20rem;
}

.product-list-item {
  text-decoration: none;
  transition-duration: 0.5s;
  max-width: 20rem;
}

.product-list-item:hover,
.product-list-item:focus {
  scale: 1.05;
}

.checkout-table {
  border: 3px solid #ff7a00;
  border-collapse: separate;
  border-spacing: 0;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Satoshi";
  margin-bottom: 1.5rem;
}

.game-cell {
  text-align: center;
}

.game-name {
  display: block;
  font-family: "Clash Display";
  color: #ff7a00;
  font-weight: bold;
}

.checkout-table th {
  background-color: #5c8df6;
  color: white;
  font-family: "Clash Display";
  padding: 1rem;
  text-align: center;
  font-size: 1.1;
}

.checkout-table td {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
}

.checkout-table img {
  display: block;
  width: 8em;
  margin: 0.5rem auto 0;
  border-radius: 1em;
  border: 0.2em solid #ffd21f;
}
.total-row th {
  background-color: #ffd21f;
  color: #2036a8;
}
